<div class="modal fade in" th:id="editModal+${i.id}">
    <form th:action="@{/admin/items/add}" method="post" autocomplete="off">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edytuj pozycję</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row my-2">

                        <input type="hidden" th:value="${i.id}" name="id" />

                        <div class="col">
                            <label for="title">Tytuł:</label>
                            <input type="text" class="form-control" id="title" th:value="${i.title}" name="title" />
                        </div>
                    </div>
                    <div class="form-row my-2">
                        <div class="col-md-6">
                            <label for="title">Autor:</label>
                            <input type="text" class="form-control" id="author" th:value="${i.author}" name="author" />
                        </div>
                        <div class="col-md-6">
                            <label for="title">Wydawnictwo:</label>
                            <input type="text" class="form-control" id="publisher" th:value="${i.publisher}" name="publisher" />
                        </div>
                    </div>
                    <div class="form-row my-2">
                        <div class="col-md-6">
                            <label for="title">Język:</label>
                            <input type="text" class="form-control" id="language" th:value="${i.language}" name="language" />
                        </div>
                        <div class="col-md-6">
                            <label for="title">Liczba stron:</label>
                            <input type="number" class="form-control" id="page" th:value="${i.page}" name="page" />
                        </div>
                    </div>
                    <div class="form-row my-2">
                        <div class="col-md-6">
                            <label for="title">Numer wydania:</label>
                            <input type="number" class="form-control" id="number" th:value="${i.number}" name="number" />
                        </div>
                        <div class="col-md-6">
                            <label for="title">Numer ISBN:</label>
                            <input type="text" class="form-control" id="isbn" th:value="${i.isbn}" name="isbn" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </div>
        </div>
    </form>
</div>